/* ------------------ */
/* Menú principal */
/* ------------------ */

#main-header{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background: white;

    .menu-contenedor{
        display: flex;
        align-items: center;
        width: 90vw;  

    }
    
    .logo{
        width: 100px;
        height: 100px;
    }

    ul#top-menu{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            padding: 15px 1em;

            a{
                text-decoration: none;
                color: #524f4f;
            }
        }
    }

    .redes-sociales{
        margin-left: auto;
        i{
            display: inline-block;
            padding-right: 1em;

            &:last-child{
                padding-right: 0;
            }
        }
    }
}
// main-header