@import "fonts";
/* Generales */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }


.contenedor,
.row {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
}


.row {
    padding: 40px 40px;
}

.row-full {
    width: 100%;
    max-width: none;
}

/* Imágenes */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.img-contenedor {
    margin: 0 auto;
}

/* Tipografía */
body {
    color: #524f4f;
    line-height: 1.5;
    font-family: 'Raleway';
}

/* Encabezados */
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}

h1,
h2,
h3 {
    margin-top: 0;
    color: #626262;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 24px;
}

section{
    overflow: hidden;
}

@import "menu";
@import "page";
@import "page-inicio";
@import "footer";
@import "page-acerca-de";
@import "page-comidas";
/* Botón */
div.btn{
    text-align: center;

    a.btn{
        text-align: center;
        text-decoration: none;
        color: #524f4f;
        display: inline-block;
        padding: 10px 25px;
        border: 1px solid rgb(82, 79, 79);
        transition: .5s;

        &:hover{
            background: #524f4f;
            color: white;
        }
    }
}
