/* Generales */



.contenedor,
.row {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
}


.row {
    padding: 40px 40px;
}

.row-full {
    width: 100%;
    max-width: none;
}

/* Imágenes */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.img-contenedor {
    margin: 0 auto;
}

/* Tipografía */
body {
    color: #524f4f;
}

/* Encabezados */

h1,
h2,
h3 {
    margin-top: 0;
    color: #626262;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 24px;
}

@import "menu";
@import "page";
@import "page-inicio";

/* Botón */
div.btn{
    text-align: center;

    a.btn{
        text-align: center;
        text-decoration: none;
        color: #524f4f;
        display: inline-block;
        padding: 10px 25px;
        border: 1px solid rgb(82, 79, 79);
        transition: .5s;

        &:hover{
            background: #524f4f;
            color: white;
        }
    }
}
